In [3]:
#!pip install yfinance

In [8]:
import yfinance as yf


msft_stock = yf.Ticker("MSFT")
msft_stock

yfinance.Ticker object <MSFT>

In [9]:
msft_stock.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-11-12 00:00:00-05:00,417.414486,423.592124,416.366596,422.184937,19401200,0.00,0.0
2024-11-13 00:00:00-05:00,420.797730,428.472341,417.374559,424.350616,21502200,0.00,0.0
2024-11-14 00:00:00-05:00,424.150992,427.314673,419.160981,426.037231,30246900,0.00,0.0
2024-11-15 00:00:00-05:00,418.981369,421.955396,412.813721,414.170990,28247600,0.00,0.0
2024-11-18 00:00:00-05:00,414.041237,417.564184,411.276782,414.929474,24742000,0.00,0.0
2024-11-19 00:00:00-05:00,412.284740,417.105108,410.727858,416.955414,18133500,0.00,0.0
2024-11-20 00:00:00-05:00,416.037221,416.456396,409.759778,414.659973,19191700,0.00,0.0
2024-11-21 00:00:00-05:00,419.500000,419.779999,410.290009,412.869995,20780200,0.83,0.0
2024-11-22 00:00:00-05:00,411.369995,417.399994,411.059998,417.000000,24814600,0.00,0.0
2024-11-25 00:00:00-05:00,418.380005,421.079987,414.850006,418.790009,27691100,0.00,0.0
2024-11-26 00:00:00-05:00,419.589996,429.040009,418.850006,427.989990,23458900,0.00,0.0
2024-11-27 00:00:00-05:00,425.109985,427.230011,422.019989,422.989990,18332400,0.00,0.0
2024-11-29 00:00:00-05:00,420.089996,424.880005,417.799988,423.459991,16271900,0.00,0.0
2024-12-02 00:00:00-05:00,421.570007,433.000000,421.309998,430.980011,20207200,0.00,0.0
2024-12-03 00:00:00-05:00,429.839996,432.470001,427.739990,431.200012,18302000,0.00,0.0
2024-12-04 00:00:00-05:00,433.029999,439.670013,432.630005,437.420013,26009400,0.00,0.0
2024-12-05 00:00:00-05:00,437.920013,444.660004,436.170013,442.619995,21697800,0.00,0.0
2024-12-06 00:00:00-05:00,442.299988,446.100006,441.769989,443.570007,18821000,0.00,0.0
2024-12-09 00:00:00-05:00,442.600006,448.329987,440.500000,446.019989,19144400,0.00,0.0
2024-12-10 00:00:00-05:00,444.390015,449.619995,441.600006,443.329987,18469500,0.00,0.0
2024-12-11 00:00:00-05:00,444.049988,450.350006,444.049988,448.989990,19110100,0.00,0.0

In [12]:
msft_stock_history = msft_stock.history(start= "2024-12-10", end="2024-12-12")
msft_stock_history

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-12-10 00:00:00-05:00,444.390015,449.619995,441.600006,443.329987,18469500,0.0,0.0
2024-12-11 00:00:00-05:00,444.049988,450.350006,444.049988,448.989990,19110100,0.0,0.0

In [32]:
# interval '1m', '5m', '15m', '1d', '1wk', '1mo'

msft_stock_history = msft_stock.history(interval="1mo", start= "2023-01-01", end="2024-11-18")
msft_stock_history

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-01-01 00:00:00-05:00,239.633905,246.288212,216.240325,244.296844,666168100,0.00,0.0
2023-02-01 00:00:00-05:00,244.484151,272.836435,241.990019,245.884018,615501000,0.68,0.0
2023-03-01 00:00:00-05:00,247.824167,285.883297,242.734467,284.924652,747635000,0.00,0.0
2023-04-01 00:00:00-04:00,283.165516,305.313151,272.146062,303.662720,551497100,0.00,0.0
2023-05-01 00:00:00-04:00,303.376113,332.006945,299.847902,324.545349,600807200,0.68,0.0
2023-06-01 00:00:00-04:00,322.818287,348.114461,319.421041,337.288818,547588700,0.00,0.0
2023-07-01 00:00:00-04:00,335.951722,363.278314,323.878098,332.712952,666764400,0.00,0.0
2023-08-01 00:00:00-04:00,331.989917,335.307941,308.575596,324.630859,479456700,0.68,0.0
2023-09-01 00:00:00-04:00,328.841687,338.320526,307.144562,313.397614,416680700,0.00,0.0
2023-10-01 00:00:00-04:00,313.923654,343.620758,308.891419,335.591003,540907000,0.00,0.0
2023-11-01 00:00:00-04:00,337.258521,381.436895,337.119550,376.087067,563880300,0.75,0.0
2023-12-01 00:00:00-05:00,374.712090,376.104474,360.927412,373.996002,522003700,0.00,0.0
2024-01-01 00:00:00-05:00,371.827845,413.062509,364.507866,395.418915,528399000,0.00,0.0
2024-02-01 00:00:00-05:00,399.645799,418.532597,395.060871,411.391632,444176300,0.75,0.0
2024-03-01 00:00:00-05:00,409.790883,429.270591,396.957231,419.206909,426349600,0.00,0.0
2024-04-01 00:00:00-04:00,422.425329,427.825819,386.634497,387.929810,440777700,0.00,0.0
2024-05-01 00:00:00-04:00,391.197996,432.040599,388.906280,413.637024,413800800,0.75,0.0
2024-06-01 00:00:00-04:00,414.782390,455.349287,408.184298,446.145874,342370400,0.00,0.0
2024-07-01 00:00:00-04:00,447.852785,467.507362,411.468353,417.597321,440449200,0.00,0.0
2024-08-01 00:00:00-04:00,420.032923,426.690905,384.886251,416.389496,451919000,0.75,0.0
2024-09-01 00:00:00-04:00,417.910004,441.850006,400.799988,430.299988,376921200,0.00,0.0
2024-10-01 00:00:00-04:00,428.450012,438.500000,406.299988,406.350006,440745500,0.00,0.0
2024-11-01 00:00:00-04:00,409.010010,429.329987,405.570007,415.000000,248853900,0.00,0.0

In [15]:
import yfinance as yf

def get_historical_stock_price(ticker: str, start_date: str, end_date: str):
    stock = yf.Ticker(ticker)
    data = stock.history(start=start_date, end=end_date)
    if data.empty:
        raise Exception(f"No data found for ticker {ticker} in the specified date range.")
    return data[['Open', 'High', 'Low', 'Close', 'Volume']]

In [16]:
# Example usage
try:
    data = get_historical_stock_price("AAPL", "2024-01-01", "2024-01-10")
    display(data)
except Exception as e:
    print(e)

,Open,High,Low,Close,Volume
Date,,,,,
2024-01-02 00:00:00-05:00,186.237603,187.521323,182.993502,184.734970,82488700
2024-01-03 00:00:00-05:00,183.321908,184.973819,182.535751,183.351761,58414500
2024-01-04 00:00:00-05:00,181.261998,182.197418,179.998201,181.023178,71983600
2024-01-05 00:00:00-05:00,181.102771,181.869006,179.291637,180.296707,62303300
2024-01-08 00:00:00-05:00,181.202281,184.695178,180.615161,184.655365,59144500
2024-01-09 00:00:00-05:00,183.023358,184.247357,181.839157,184.237411,42841800

In [2]:
import yfinance as yf
from dataclasses import dataclass
from datetime import datetime
import pytz

@dataclass
class YahooFinanceClient:
    ticker: str = "AAPL"
    interval: str = "1d"  # Options: '1m', '5m', '15m', '1d', '1wk', '1mo'
    from_date: str = "2024-01-09"
    to_date: str = "2024-01-09"
    
    def fetch_data(self):
        # Download historical data using yfinance
        stock = yf.Ticker(self.ticker)
        data = stock.history(interval=self.interval, start=self.from_date, end=self.to_date)
        if data.empty:
            raise Exception(f"Ticker {self.ticker} has no results for the specified date range.")
        return data

    def transform_result(self, data):
        # Transform data to match desired output format
        dataset = []
        for index, row in data.iterrows():
            utc_timestamp = index.tz_localize(pytz.utc) if not index.tzinfo else index
            dataset.append({
                'open_price': row['Open'],
                'close_price': row['Close'],
                'high_price': row['High'],
                'low_price': row['Low'],
                'volume': row['Volume'],
                'time': utc_timestamp,
            })
        return dataset

    def get_stock_data(self):
        data = self.fetch_data()
        return self.transform_result(data)

In [9]:
client = YahooFinanceClient(ticker="LVMH", interval="1d", from_date="2024-01-01", to_date="2024-01-10")
stock_data = client.get_stock_data()

$LVMH: possibly delisted; no timezone found

Exception: Ticker LVMH has no results for the specified date range.

In [13]:
client = YahooFinanceClient(ticker="MC.PA", interval="1d", from_date="2024-01-01", to_date="2024-01-30")
stock_data = client.get_stock_data()
stock_data

[{'open_price': 733.0346257590984,
  'close_price': 716.1946411132812,
  'high_price': 733.5299194251518,
  'low_price': 711.935127677352,
  'volume': 271775.0,
  'time': Timestamp('2024-01-02 00:00:00+0100', tz='Europe/Paris')},
 {'open_price': 711.24174291965,
  'close_price': 688.8544921875,
  'high_price': 713.619176829549,
  'low_price': 686.2789287083333,
  'volume': 422816.0,
  'time': Timestamp('2024-01-03 00:00:00+0100', tz='Europe/Paris')},
 {'open_price': 686.9723588496387,
  'close_price': 691.2318725585938,
  'high_price': 694.4017643166499,
  'low_price': 686.873324294341,
  'volume': 307568.0,
  'time': Timestamp('2024-01-04 00:00:00+0100', tz='Europe/Paris')},
 {'open_price': 684.1986945514478,
  'close_price': 682.4156494140625,
  'high_price': 687.5666552641417,
  'low_price': 674.1937260427709,
  'volume': 346418.0,
  'time': Timestamp('2024-01-05 00:00:00+0100', tz='Europe/Paris')},
 {'open_price': 681.0288099097858,
  'close_price': 684.7930297851562,
  'high_price': 684.7930297851562,
  'low_price': 672.7078519026262,
  'volume': 337785.0,
  'time': Timestamp('2024-01-08 00:00:00+0100', tz='Europe/Paris')},
 {'open_price': 684.7930488016218,
  'close_price': 674.2928466796875,
  'high_price': 688.9535279207366,
  'low_price': 673.4012938467858,
  'volume': 316477.0,
  'time': Timestamp('2024-01-09 00:00:00+0100', tz='Europe/Paris')},
 {'open_price': 677.462719800597,
  'close_price': 676.5711669921875,
  'high_price': 682.019397473091,
  'low_price': 674.3918627076953,
  'volume': 330019.0,
  'time': Timestamp('2024-01-10 00:00:00+0100', tz='Europe/Paris')},
 {'open_price': 682.415622924877,
  'close_price': 665.872802734375,
  'high_price': 683.5052447830242,
  'low_price': 665.6746731799888,
  'volume': 401115.0,
  'time': Timestamp('2024-01-11 00:00:00+0100', tz='Europe/Paris')},
 {'open_price': 653.7876435838559,
  'close_price': 663.594482421875,
  'high_price': 663.594482421875,
  'low_price': 641.5043363989283,
  'volume': 518369.0,
  'time': Timestamp('2024-01-12 00:00:00+0100', tz='Europe/Paris')},
 {'open_price': 663.2972606725173,
  'close_price': 662.9010620117188,
  'high_price': 665.4765649191952,
  'low_price': 659.6321358720284,
  'volume': 237797.0,
  'time': Timestamp('2024-01-15 00:00:00+0100', tz='Europe/Paris')},
 {'open_price': 657.9481111213297,
  'close_price': 660.0283203125,
  'high_price': 660.7217435297741,
  'low_price': 654.8772541478736,
  'volume': 302654.0,
  'time': Timestamp('2024-01-16 00:00:00+0100', tz='Europe/Paris')},
 {'open_price': 650.2215605618354,
  'close_price': 641.3062744140625,
  'high_price': 652.4998993741356,
  'low_price': 637.9382532406423,
  'volume': 512431.0,
  'time': Timestamp('2024-01-17 00:00:00+0100', tz='Europe/Paris')},
 {'open_price': 663.6935532929634,
  'close_price': 657.1557006835938,
  'high_price': 667.3587387391005,
  'low_price': 649.6272002205932,
  'volume': 625730.0,
  'time': Timestamp('2024-01-18 00:00:00+0100', tz='Europe/Paris')},
 {'open_price': 661.9104546016248,
  'close_price': 653.1932983398438,
  'high_price': 662.8019469068839,
  'low_price': 647.3488090092108,
  'volume': 341063.0,
  'time': Timestamp('2024-01-19 00:00:00+0100', tz='Europe/Paris')},
 {'open_price': 660.7217844767596,
  'close_price': 656.660400390625,
  'high_price': 663.9907107486064,
  'low_price': 652.7970854125706,
  'volume': 307905.0,
  'time': Timestamp('2024-01-22 00:00:00+0100', tz='Europe/Paris')},
 {'open_price': 663.6935235911249,
  'close_price': 664.0897827148438,
  'high_price': 665.3775341759494,
  'low_price': 658.2452931735858,
  'volume': 346518.0,
  'time': Timestamp('2024-01-23 00:00:00+0100', tz='Europe/Paris')},
 {'open_price': 663.2972536693021,
  'close_price': 676.9674072265625,
  'high_price': 682.9109312216661,
  'low_price': 663.1982191203114,
  'volume': 525671.0,
  'time': Timestamp('2024-01-24 00:00:00+0100', tz='Europe/Paris')},
 {'open_price': 678.5523231968778,
  'close_price': 678.8494873046875,
  'high_price': 682.5146725294143,
  'low_price': 670.6276245318047,
  'volume': 388550.0,
  'time': Timestamp('2024-01-25 00:00:00+0100', tz='Europe/Paris')},
 {'open_price': 725.1099430227996,
  'close_price': 765.8230590820312,
  'high_price': 772.5591014567772,
  'low_price': 721.9400513983287,
  'volume': 1519188.0,
  'time': Timestamp('2024-01-26 00:00:00+0100', tz='Europe/Paris')},
 {'open_price': 762.2569987779602,
  'close_price': 768.9929809570312,
  'high_price': 772.2619072612188,
  'low_price': 760.5729881180284,
  'volume': 489398.0,
  'time': Timestamp('2024-01-29 00:00:00+0100', tz='Europe/Paris')}]

In [8]:
for entry in stock_data:
    print(entry)

{'open_price': 139.25801966446886, 'close_price': 139.21810913085938, 'high_price': 140.27053254973532, 'low_price': 137.40257560825444, 'volume': 20071900.0, 'time': Timestamp('2024-01-02 00:00:00-0500', tz='America/New_York')}
{'open_price': 138.26046096267322, 'close_price': 140.01614379882812, 'high_price': 140.74435116784477, 'low_price': 138.090864037325, 'volume': 18974300.0, 'time': Timestamp('2024-01-03 00:00:00-0500', tz='America/New_York')}
{'open_price': 139.50740671768455, 'close_price': 137.7018280029297, 'high_price': 140.29047208537293, 'low_price': 137.67190271353567, 'volume': 18253300.0, 'time': Timestamp('2024-01-04 00:00:00-0500', tz='America/New_York')}
{'open_price': 138.01306991194483, 'close_price': 137.0534210205078, 'high_price': 138.4699404743355, 'low_price': 136.51475061129764, 'volume': 15433200.0, 'time': Timestamp('2024-01-05 00:00:00-0500', tz='America/New_York')}
{'open_price': 137.66192916351693, 'close_price': 140.18572998046875, 'high_price': 140.29546111257136, 'low_price': 137.542228009008, 'volume': 17645300.0, 'time': Timestamp('2024-01-08 00:00:00-0500', tz='America/New_York')}
{'open_price': 139.71687888895542, 'close_price': 142.21075439453125, 'high_price': 142.45017192277345, 'low_price': 139.44753607235896, 'volume': 19579700.0, 'time': Timestamp('2024-01-09 00:00:00-0500', tz='America/New_York')}

In [ ]:
client = YahooFinanceClient(ticker="MC.PA", interval="1d", from_date="2024-01-01", to_date="2024-01-10")
stock_data = client.get_stock_data()
stock_data