In [3]:
"https://www.data.gouv.fr/fr/datasets/demandes-de-valeurs-foncieres/#/resources/87038926-fb31-4959-b2ae-7a24321c599a"


"https://static.data.gouv.fr/resources/demandes-de-valeurs-foncieres/20231010-093059/valeursfoncieres-2022.txt"

"https://www.data.gouv.fr/fr/datasets/r/87038926-fb31-4959-b2ae-7a24321c599a"

'https://www.data.gouv.fr/fr/datasets/r/87038926-fb31-4959-b2ae-7a24321c599a'

## À propos de cette application
Cette application est proposée par l’équipe de data.gouv.fr, et permet de visualiser les données de demandes de valeurs foncières (DVF) publiée et produites par la direction générale des finances publiques.
Ces données sont issues des actes notariés et des informations cadastrales et permettent de connaître les transactions immobilières intervenues au cours des cinq dernières années sur le territoire métropolitain et les DOM-TOM, à l’exception de l’Alsace, de la Moselle et de Mayotte.
Vous pouvez télécharger et exploiter les données brutes selon les conditio

In [1]:
import pandas as pd

# URL of the CSV text file
url = "https://static.data.gouv.fr/resources/demandes-de-valeurs-foncieres/20231010-093059/valeursfoncieres-2022.txt"

# Read the CSV file into a DataFrame
#df = pd.read_csv(url, sep='|', encoding='latin1')

# Display the first few rows of the DataFrame
#print(df.head())

In [2]:
import pandas as pd
from urllib.request import urlopen

# URL of the CSV text file
url = "https://static.data.gouv.fr/resources/demandes-de-valeurs-foncieres/20231010-093059/valeursfoncieres-2022.txt"

# Read the CSV file into a DataFrame
with urlopen(url) as response:
    df = pd.read_csv(response, sep='|', encoding='latin1')

# Display the first few rows of the DataFrame
display(df.head())

/var/folders/8y/dhqjv_h574s900xmlg8w791r0000gn/T/ipykernel_14586/733954181.py:9: DtypeWarning: Columns (18,23,24,26,28,29,31,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(response, sep='|', encoding='latin1')

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,NaN,1,2.0,Appartement,NaN,24.0,1.0,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,84.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,88.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,NaN,1,2.0,Appartement,NaN,140.0,3.0,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2022,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,510.0

In [1]:
import pandas as pd

# Display all columns
pd.set_option('display.max_columns', None)


df_text = pd.read_csv('valeursfoncieres-2022.txt', sep='|')

/var/folders/8y/dhqjv_h574s900xmlg8w791r0000gn/T/ipykernel_3775/196701742.py:7: DtypeWarning: Columns (23,24,26,29,31,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_text = pd.read_csv('valeursfoncieres-2022.txt', sep='|')

In [2]:
df_text.shape

(1019692, 43)

In [3]:
df_text.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1019692 entries, 0 to 1019691
Data columns (total 43 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   Identifiant de document     0 non-null        float64
 1   Reference document          0 non-null        float64
 2   1 Articles CGI              0 non-null        float64
 3   2 Articles CGI              0 non-null        float64
 4   3 Articles CGI              0 non-null        float64
 5   4 Articles CGI              0 non-null        float64
 6   5 Articles CGI              0 non-null        float64
 7   No disposition              1019692 non-null  int64
 8   Date mutation               1019692 non-null  object
 9   Nature mutation             1019692 non-null  object
 10  Valeur fonciere             1014834 non-null  object
 11  No voie                     592261 non-null   float64
 12  B/T/Q                       43987 non-null    object
 13  Type de voie                543539 non-null   object
 14  Code voie                   1014692 non-null  object
 15  Voie                        1014645 non-null  object
 16  Code postal                 1014644 non-null  float64
 17  Commune                     1019692 non-null  object
 18  Code departement            1019692 non-null  int64
 19  Code commune                1019692 non-null  int64
 20  Prefixe de section          76169 non-null    float64
 21  Section                     1019631 non-null  object
 22  No plan                     1019692 non-null  int64
 23  No Volume                   1625 non-null     object
 24  1er lot                     276711 non-null   object
 25  Surface Carrez du 1er lot   78912 non-null    object
 26  2eme lot                    89043 non-null    object
 27  Surface Carrez du 2eme lot  30316 non-null    object
 28  3eme lot                    14819 non-null    float64
 29  Surface Carrez du 3eme lot  2954 non-null     object
 30  4eme lot                    4628 non-null     float64
 31  Surface Carrez du 4eme lot  709 non-null      object
 32  5eme lot                    1907 non-null     float64
 33  Surface Carrez du 5eme lot  249 non-null      object
 34  Nombre de lots              1019691 non-null  float64
 35  Code type local             559889 non-null   float64
 36  Type local                  559889 non-null   object
 37  Identifiant local           0 non-null        float64
 38  Surface reelle bati         559402 non-null   float64
 39  Nombre pieces principales   559402 non-null   float64
 40  Nature culture              739124 non-null   object
 41  Nature culture speciale     38654 non-null    object
 42  Surface terrain             739124 non-null   float64
dtypes: float64(19), int64(4), object(20)
memory usage: 334.5+ MB

In [4]:
df_text.columns

Index(['Identifiant de document', 'Reference document', '1 Articles CGI',
       '2 Articles CGI', '3 Articles CGI', '4 Articles CGI', '5 Articles CGI',
       'No disposition', 'Date mutation', 'Nature mutation', 'Valeur fonciere',
       'No voie', 'B/T/Q', 'Type de voie', 'Code voie', 'Voie', 'Code postal',
       'Commune', 'Code departement', 'Code commune', 'Prefixe de section',
       'Section', 'No plan', 'No Volume', '1er lot',
       'Surface Carrez du 1er lot', '2eme lot', 'Surface Carrez du 2eme lot',
       '3eme lot', 'Surface Carrez du 3eme lot', '4eme lot',
       'Surface Carrez du 4eme lot', '5eme lot', 'Surface Carrez du 5eme lot',
       'Nombre de lots', 'Code type local', 'Type local', 'Identifiant local',
       'Surface reelle bati', 'Nombre pieces principales', 'Nature culture',
       'Nature culture speciale', 'Surface terrain'],
      dtype='object')

In [6]:
df_text[['Date mutation', 'Nature mutation', 'Valeur fonciere',
        'Type de voie', 'Code voie', 'Voie', 'Code postal',
       'Commune', 'Code departement', 'Code commune', 'Prefixe de section',
       'Section', 'No plan', 'Nombre de lots', 'Code type local', 'Type local', 
       'Surface reelle bati', 'Nombre pieces principales', 'Nature culture',
       'Surface terrain']].head()

,Date mutation,Nature mutation,Valeur fonciere,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,Code commune,Prefixe de section,Section,No plan,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Surface terrain
0,03/01/2022,Vente,"55000,00",RUE,2280,DE LA LIBERTE,1000.0,BOURG-EN-BRESSE,1,53,NaN,AM,102,1.0,2.0,Appartement,24.0,1.0,NaN,NaN
1,03/01/2022,Vente,"143000,00",NaN,B010,CHAMP COCHET,1480.0,SAVIGNEUX,1,398,NaN,ZE,184,0.0,NaN,NaN,NaN,NaN,S,84.0
2,03/01/2022,Vente,"143000,00",NaN,B010,CHAMP COCHET,1480.0,SAVIGNEUX,1,398,NaN,ZE,185,0.0,NaN,NaN,NaN,NaN,S,88.0
3,03/01/2022,Vente,"143000,00",RTE,0055,DE LA DOMBES,1480.0,SAVIGNEUX,1,398,NaN,ZE,187,1.0,2.0,Appartement,140.0,3.0,NaN,NaN
4,04/01/2022,Vente,"300,00",NaN,B031,AUX PIERRES,1480.0,MESSIMY SUR SAONE,1,243,NaN,A,643,0.0,NaN,NaN,NaN,NaN,T,510.0

In [15]:
df_text[['Code postal','Commune', 'Code departement', 'Code commune']].describe(include='all')

         Code postal  Commune  Code departement  Code commune
count   1.014644e+06  1019692      1.019692e+06  1.019692e+06
unique           NaN     8484               NaN           NaN
top              NaN     NICE               NaN           NaN
freq             NaN    26624               NaN           NaN
mean    1.333739e+04      NaN      1.301652e+01  1.984790e+02
std     7.061255e+03      NaN      7.037098e+00  1.570108e+02
min     1.000000e+03      NaN      1.000000e+00  1.000000e+00
25%     6.750000e+03      NaN      6.000000e+00  7.800000e+01
50%     1.321000e+04      NaN      1.300000e+01  1.720000e+02
75%     1.850000e+04      NaN      1.800000e+01  2.790000e+02
max     8.216000e+04      NaN      2.500000e+01  8.340000e+02

In [13]:
display(df_text['Code departement'].value_counts())

Code departement
13    108534
6     106001
22     70624
17     70528
24     67340
14     58688
1      50804
16     43776
21     42660
11     40077
7      36126
2      35193
3      33569
12     31921
18     29712
9      28732
19     27455
10     25320
23     23021
25     20037
5      19094
8      18146
4      16715
15     15619
Name: count, dtype: int64

In [10]:
display(df_text['Commune'].value_counts())

Commune
NICE                        26624
DIJON                       12559
SAINT-BRIEUC                10426
CANNES                       9715
AIX EN PROVENCE              9675
                            ...
OULCHES LA VALLEE FOULON        1
SACHY                           1
BATTENANS LES MINES             1
CORCELLE-MIESLOT                1
PAROY                           1
Name: count, Length: 8484, dtype: int64

In [10]:
df_text.head()

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,NaN,1.0,2.0,Appartement,NaN,24.0,1.0,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,S,NaN,84.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,S,NaN,88.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,NaN,1.0,2.0,Appartement,NaN,140.0,3.0,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2022,Vente,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,T,NaN,510.0

In [11]:
df_text.tail()

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
1019687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,30/09/2022,Vente,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,S,NaN,62.0
1019688,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,16/09/2022,Vente,...,NaN,1.0,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN
1019689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,16/09/2022,Vente,...,NaN,2.0,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN
1019690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,16/09/2022,Vente,...,NaN,2.0,2.0,Appartement,NaN,50.0,1.0,NaN,NaN,NaN
1019691,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,19/09/2022,Vente,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_text.describe()

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,No voie,Code postal,...,No plan,3eme lot,4eme lot,5eme lot,Nombre de lots,Code type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Surface terrain
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.019692e+06,592261.000000,1.014644e+06,...,1.019692e+06,14819.000000,4628.000000,1907.000000,1.019691e+06,559889.000000,0.0,559402.000000,559402.000000,7.391240e+05
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.075400e+00,886.498014,1.333739e+04,...,3.945819e+02,94.346852,90.257131,61.201888,3.840340e-01,2.256276,NaN,64.666392,1.733591,2.958721e+03
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.353526e-01,2205.780497,7.061255e+03,...,5.251274e+02,812.490187,644.538767,353.441709,8.016264e-01,0.924917,NaN,637.673163,2.055930,1.208728e+04
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,1.000000,1.000000e+03,...,1.000000e+00,2.000000,2.000000,2.000000,0.000000e+00,1.000000,NaN,0.000000,0.000000,0.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,8.000000,6.750000e+03,...,8.600000e+01,7.000000,7.000000,7.000000,0.000000e+00,1.000000,NaN,0.000000,0.000000,2.600000e+02
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,26.000000,1.321000e+04,...,2.170000e+02,23.000000,14.000000,14.000000,0.000000e+00,2.000000,NaN,30.000000,1.000000,6.910000e+02
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,134.000000,1.850000e+04,...,4.860000e+02,69.000000,46.000000,39.000000,1.000000e+00,3.000000,NaN,80.000000,3.000000,1.990000e+03
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000e+01,9999.000000,8.216000e+04,...,8.331000e+03,60037.000000,27004.000000,14013.000000,1.880000e+02,4.000000,NaN,251725.000000,63.000000,2.445345e+06

In [9]:
!wget https://static.data.gouv.fr/resources/demandes-de-valeurs-foncieres/20231010-093059/valeursfoncieres-2022.txt

--2023-12-30 10:08:35--  https://static.data.gouv.fr/resources/demandes-de-valeurs-foncieres/20231010-093059/valeursfoncieres-2022.txt
Résolution de static.data.gouv.fr (static.data.gouv.fr)… 37.59.183.93
Connexion à static.data.gouv.fr (static.data.gouv.fr)|37.59.183.93|:443… connecté.
requête HTTP transmise, en attente de la réponse… 200 OK
Taille : 619422431 (591M) [text/plain]
Sauvegarde en : « valeursfoncieres-2022.txt »

valeursfoncieres-20  21%[===>                ] 128,39M  8,69MB/s    ds 6,8s


Impossible d’écrire dans « valeursfoncieres-2022.txt » (No space left on device).